.mainContent {
    min-height: 90vh;
    display:flex;
    background-color: rgb(63, 71, 100);
    margin-top: 0;
}

.mainContentLeft {
    width: 30%;
    background-color: rgb(41, 41, 68);
    /* background-color: rgb(54, 53, 80); */
    /* height: 80vh; */
    padding-top: 15px;
    padding-bottom:15px;
}

.sideBarList {
    margin-left:10%;
    width: 90%;
}

.sideBarList li {
    padding:10px 0;
    margin-bottom:15px;
    font-size: 20px;
    /* padding-left: 30%; */
    text-align: center;
}

.sideBarItem {
    /* background-color: rgb(76, 82, 107); */
    background-color: rgb(83, 90, 117);
    
}


.sideBarSelectedItem {
    background-color: rgb(63, 71, 100);
}


.mainContentRight{
    width: 50%;
    padding-top: 10px;
    padding-left:10px;
    padding-bottom:15px;
}

.mainNoteItem{
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 45, 70);
}

.Delete{
    width: 32px;
}

    .Delete button{
        height: 30px;
        margin-top: 32px;
        width: 95px;
        border: none;
        background-color: rgb(174, 175, 182);
        transform: rotate(-90deg);
    }

    .Delete button:hover{
        background-color: rgb(167, 65, 65);
        color: white;
    }

.Note{
    padding:10px 0;
}
.noteName{
    margin: 0;
    /* font-size: 24px; */
}

