.mainContent {
    min-height: 90vh;
    display:flex;
    background-color: rgb(63, 71, 100);
    margin-top: 0;
}

.mainContentLeft {
    width: 30%;
    background-color: rgb(41, 41, 68);
    /* background-color: rgb(54, 53, 80); */
    /* height: 80vh; */
    padding-top: 15px;
    padding-bottom:15px;
}


.mainContentRight{
    width: 50%;
    padding-top: 10px;
    padding-left:10px;
    padding-bottom:15px;
}


@media only screen and (max-width: 420px) {
    /* category list two column */
    .folderName{
        font-size: 16px;
    }
    .selectedFolderName{
        font-size: 16px;
    }
}
