.goBack{
    display: flex;
    justify-content: center;
    margin-left: 10%
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

.goBackBtn{
    border: none;
    background-color: white;
    padding:0 10px;
    border-radius: 20px;
    height: 35px;
}

.goBackBtn:hover{
    background-color: rgb(151, 124, 36);
    color: white
}

h2{
    margin: 5px 0 20px 50px;
    /* margin-top: 5px; */
    color: white
}

.addFolderForm{
    background-color: rgb(36, 57, 77);
    max-width: 300px;
    margin-left: 50px;
}
input {
    display: block;
    border: none;
    padding: 0;
    width: 80%;
    /* width: 255px; */
    height: 25px;
    /* margin:auto; */
    margin-top:10px;
    margin-bottom:20px;
    margin-left:10%;
    /* margin-top:10px; */
}

label{
    color: white;
    margin-left:10%;
    font-size: 18px;
}

.nameGroup{
    padding-top: 5px;
}

.submitGroup{
    padding-bottom:10px
}

.submitGroup button{
    margin-left:10%;
    border: none;
    color: white;
    padding:10px 25px;
    border-radius: 5px;
    background-color: rgb(26, 15, 41);
    /* margin-bottom: 10px; */
}

    .submitGroup button:hover{
        background-color: rgb(47, 138, 74);
        /* margin-bottom: 10px; */
    }

