.addFolderNav{
    display: flex;
    justify-content: center;
    /* margin-left: 10% */
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

.goBackBtn{
    border: none;
    background-color: white;
    padding:0 10px;
    border-radius: 20px;
    height: 35px;
}

.goBackBtn:hover{
    background-color: rgb(151, 124, 36);
    color: white
}

.selectedFolderName {
    padding:10px 0;
    width: 80%;
    margin-left:10%;
    text-align: center;
}