
.addNoteForm{
    background-color: rgb(36, 57, 77);
    max-width: 300px;
    margin-left: 50px;
}

#note-folder-select{
    margin:20px;
    margin-top: 10px;
    width: 259px;
    height: 25px;
}


textarea{
    display:block;
    width: 255px;
    border:none;
    margin: 20px;
    margin-top:10px;
}
