.mainNoteItem{
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 45, 70);
}

.Delete{
    width: 45px;
}
    .Delete button{
        height: 25px;
        margin-top: 46px;
        width: 116px;
        border: none;
        background-color: rgb(174, 175, 182);
        transform: rotate(-90deg);
    }

    .Delete button:hover{
        background-color: rgb(167, 65, 65);
        color: white;
    }

.Note{
    padding:10px 0;
}
.noteName{
    margin: 0;
    display: inline-block;
}
.Note p {
    margin-top: 22px;
}
.addNote{
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 120px;
}
    .addNote:hover{
        /* background-color: rgb(100, 94, 97); */
        background-color: rgb(71, 153, 153);
        color: white;
    }




@media only screen and (min-width: 420px) {
    /* category list two column */
    .Delete{
        width: 32px;
    }
        .Delete button{
            height: 30px;
            margin-top: 32px;
            width: 95px;
        }
    /* .noteName {
        width: 30%;
    } */
}

    
