/* .addFolderIcon{
    color: black;
} */
.sideBarList {
    margin-left:10%;
    width: 90%;
}

.sideBarList li {
    padding:10px 0;
    margin-bottom:15px;
    font-size: 20px;
    /* padding-left: 30%; */
    /* text-align: center; */
}

.sideBarItem {
    /* background-color: rgb(76, 82, 107); */
    background-color: rgb(83, 90, 117);
    
}


.sideBarSelectedItem {
    background-color: rgb(63, 71, 100);
}

.addFolder{
    border: none;
    margin-left: 55%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

    .addFolder:hover{
        /* background-color: rgb(100, 94, 97); */
        background-color: rgb(71, 153, 153);
        color: white;
    }
.folderGroup{
    display: flex;
}

.deleteFolder{
    margin-right: 20%;
}

.folderName{
    width: 40%;
    text-align: center;
}