/* .addFolderIcon{
    color: black;
} */
.sideBarList {
    margin-left:10%;
    width: 90%;
}

.sideBarList li {
    
    margin-bottom:15px;
    font-size: 20px;
    /* padding-left: 30%; */
    /* text-align: center; */
}

.sideBarItem {
    /* background-color: rgb(76, 82, 107); */
    background-color: rgb(83, 90, 117);
    
}
    .sideBarItem button {
        background-color: rgb(83, 90, 117);
        color: rgb(196, 166, 166)
    } 
     .sideBarItem button:hover {
        color: rgb(63, 58, 58)
    }

.sideBarSelectedItem {
    background-color: rgb(63, 71, 100);
}

    .sideBarSelectedItem button{
        background-color: rgb(63, 71, 100);
        color: rgb(196, 166, 166)
    }
    .sideBarSelectedItem button:hover{
        color: rgb(63, 58, 58)
    }

.addFolder{
    border: none;
    margin-left: 55%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

    .addFolder:hover{
        /* background-color: rgb(100, 94, 97); */
        background-color: rgb(71, 153, 153);
        color: white;
    }
.folderGroup{
    display: flex;
    /* flex-direction: row-reverse; */
    /* align-items: center; */
}

.folderControl{
    display: none;
    width:10%;
    padding: 0;
    border: none;
}
.folderGroup:hover .folderControl {
    display: inline-block;
    
  }
.folderName{
    padding:10px 0;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    /* padding-right: 10%; */
    text-align: center;
}