/* .addFolderIcon{
    color: black;
} */


.addFolder{
    border: none;
    margin-left: 55%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

    .addFolder:hover{
        /* background-color: rgb(100, 94, 97); */
        background-color: rgb(71, 153, 153);
        color: white;
    }
