.Home{
  background-color: rgb(235, 217, 233);
  height: 10vh;
}

.Home h1{
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

p{
  margin: 0;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: rgba(51, 44, 44, 0.685);
  
}

/* selected link */
a:active {
  color: black;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
