
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');

body{
  overflow-y: scroll;
  /* font-family: 'Open Sans'; */
}

html, body, #root, .App{
  height: 100%;
}


.white{
  background-color: white;
}

.Home{
  background-color: rgb(51, 63, 95);
  min-height: 10vh;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .Home h1{
    text-align: center;
    font-family: 'MuseoModerno', cursive;
  }

a {
  text-decoration: none;
}
a:link {
  color: white;
}

/* visited link */
a:visited {
color: white;
}

/* mouse over link */
a:hover {
color: rgba(143, 142, 120, 0.685);

}

/* selected link */
a:active {
color: black;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}


p {
  margin: 0;
  color: white;
}

button {
  cursor: pointer;
}

.errorMessage{
  color:black;
  background-color: red;
  margin: 0;
  text-align: center;
  padding:10px;
}


/* .App {
  text-align: center;
  
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
